<div class="card text-center">
  <div class="card-header">
    <h3><%= project.name %></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= project.title %></h5>
    <p class="card-text"><small>Organization - <%= project.account.name %></p>
    <p class="card-description"><%= project.details %></p>
  </div>
  <div class="card-footer text-muted">
    Expected completion date: <%= project.expected_completion_date %>
  </div>
  
  <h3>Artifacts:</h3>
  <%= render 'artifacts/list', artifacts: @project.artifacts %>
    <h2 class='text-center'>Members</h2>
    <table class='table table-stripper'>
      <thead>
        <tr>
          <th>Member</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% project_users.each do |project_user| %>
          <tr>
            <td><%= project_user.user.email %></td>
            <td><%= link_to 'Remove', user_project_path(project_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3 class='text-center'>Add member to <%= project.name %></h3>
    <table class='table table-stripper'>
      <thead>
        <tr>
          <th>Member</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% potential_new_members.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= link_to 'Add', user_projects_path(user_project: { project: project, user: user }), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div>
    <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary' %> |
    <%= link_to 'Back to projects', root_path, class: 'btn btn-primary' %> |
    <%= link_to 'Delete', project_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
